In [1]:
import os
import pandas as pd
from beyourself import settings
from IPython.display import display, HTML
import datetime
import numpy as np

In [5]:
concat_list = []
subj_list = ['P103','P105','P107','P108','P110','P114','P116','P118','P120','P121']
latex = ""

average = []

obese = []
nonobese = []

for s in subj_list:
    path = '../data/wild/{}/person_general/{}.csv'.format(s,s)
    df_result = pd.read_csv(path)
    df_result = df_result[['day', 'precision', 'recall', 'fscore']]
    
    if s in ['P103', 'P105','P108','P116','P121']:
        obese.append(df_result['fscore'].iloc[-1])
    else:
        nonobese.append(df_result['fscore'].iloc[-1])

    row = df_result.iloc[-1]
    
    average.append(row[1:])
    
#     latex += s + " & "
    
#     for j in range(1,len(row)):
#         item = row[j]
#         if isinstance(item, str):
#             latex += item
#         elif isinstance(item, datetime.date):
#             latex += item.strftime("%m-%d")
#         else:
#             latex += "{:.1f}".format(100*item)
#         if j != df_result.shape[1] - 1:
#             latex += " & "
#     latex += " \\\\"
#     latex += "\n"

    
    concat_list.append(df_result)
    print(s)
    display(df_result)

P103

          day  precision    recall    fscore
0  2017-06-27   0.926471  0.984375  0.954545
1  2017-06-28   0.850267  0.868852  0.859459
2  2017-06-29   0.818841  0.770455  0.793911
3  2017-06-30   0.800000  0.920863  0.856187
4  2017-07-01   0.725000  0.861386  0.787330
5  2017-07-02   0.000000  0.000000  0.000000
6         Ave   0.818230  0.863535  0.840272

P105

          day  precision    recall    fscore
0  2017-06-23   0.000000  0.000000  0.000000
1  2017-06-24   0.873239  0.958763  0.914005
2  2017-06-26   0.824818  0.680723  0.745875
3  2017-07-02   0.966102  0.850746  0.904762
4  2017-07-03   0.844776  0.989510  0.911433
5         Ave   0.870877  0.881679  0.876245

P107

          day  precision    recall    fscore
0  2017-07-12   0.961039  0.544118  0.694836
1  2017-07-17   0.849372  0.735507  0.788350
2  2017-07-18   0.970149  0.860927  0.912281
3         Ave   0.904444  0.722913  0.803554

P108

           day  precision    recall    fscore
0   2017-08-04   0.797251  0.852941  0.824156
1   2017-08-05   0.636364  0.844828  0.725926
2   2017-08-06   0.842520  0.895397  0.868154
3   2017-08-07   0.944444  0.850000  0.894737
4   2017-08-08   0.956349  0.725904  0.825342
5   2017-08-09   0.718876  0.881773  0.792035
6   2017-08-10   0.431034  0.833333  0.568182
7   2017-08-11   0.858156  0.650538  0.740061
8   2017-08-12   0.821429  0.754098  0.786325
9   2017-08-13   0.886228  0.936709  0.910769
10  2017-08-14   0.921933  0.797428  0.855172
11  2017-08-15   0.973684  0.953162  0.963314
12         Ave   0.862355  0.839725  0.850890

P110

          day  precision    recall    fscore
0  2017-08-05   0.842857  0.595960  0.698225
1  2017-08-06   0.981132  1.000000  0.990476
2         Ave   0.902439  0.735099  0.810219

P114

          day  precision    recall    fscore
0  2017-08-09   0.884170  0.954167  0.917836
1  2017-08-10   0.592593  0.600000  0.596273
2  2017-08-11   0.967078  0.975104  0.971074
3  2017-08-14   0.983516  0.962366  0.972826
4         Ave   0.873504  0.890244  0.881795

P116

          day  precision    recall    fscore
0  2017-08-12   0.855856  0.922330  0.887850
1  2017-08-13   0.953846  0.939394  0.946565
2  2017-08-21   0.733945  0.800000  0.765550
3         Ave   0.804569  0.859079  0.830931

P118

          day  precision    recall    fscore
0  2017-08-19   0.981900  0.973094  0.977477
1  2017-08-20   0.000000  0.000000  0.000000
2  2017-08-21   0.968127  0.877256  0.920455
3  2017-08-22   0.984043  0.958549  0.971129
4  2017-08-28   0.973451  1.000000  0.986547
5  2017-08-29   0.994872  0.906542  0.948655
6  2017-08-30   0.969136  0.902299  0.934524
7  2017-08-31   0.992701  0.978417  0.985507
8         Ave   0.978723  0.933835  0.955752

P120

           day  precision    recall    fscore
0   2017-08-24   0.951952  0.838624  0.891702
1   2017-08-25   0.000000  0.000000  0.000000
2   2017-08-26   0.855019  0.962343  0.905512
3   2017-08-27   0.974843  0.962733  0.968750
4   2017-08-28   0.790850  0.952756  0.864286
5   2017-08-29   0.888889  0.941176  0.914286
6   2017-08-30   0.901701  0.894934  0.898305
7   2017-08-31   0.490196  0.892857  0.632911
8   2017-09-01   0.043478  1.000000  0.083333
9   2017-09-02   0.636986  0.902913  0.746988
10  2017-09-03   0.789474  0.740741  0.764331
11  2017-09-04   0.631579  0.734694  0.679245
12  2017-09-05   0.481675  0.859813  0.617450
13         Ave   0.796633  0.893367  0.842232

P121

          day  precision    recall    fscore
0  2017-08-24   0.970954  0.995745  0.983193
1  2017-08-26   0.886228  0.875740  0.880952
2  2017-08-27   0.938406  0.721448  0.815748
3  2017-08-28   0.844000  0.864754  0.854251
4  2017-08-29   0.907173  0.802239  0.851485
5         Ave   0.911187  0.836863  0.872445

In [6]:
df_average = pd.DataFrame(average)
total_ave = df_average.mean().as_matrix()

latexnew = latex + "Ave & "
for i in total_ave:
    latexnew += "{:.1f}".format(100*i)
    latexnew += " & "

print(latexnew)

Ave & 87.2 & 84.6 & 85.6 &

/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [7]:
print(np.mean(obese))
print(np.mean(nonobese))

0.8541563744539238
0.8587102967753083