In [6]:
import os
import pandas as pd
from beyourself import settings
from IPython.display import display, HTML
import datetime

In [7]:
concat_list = []
subj_list = ['P103','P105','P107','P108','P110','P114','P116','P118','P120','P121']
latex = ""

average = []

for s in subj_list:
    path = '../data/wild/{}/generalized/{}.csv'.format(s,s)
    df_result = pd.read_csv(path)
    df_result = df_result[['day', 'precision', 'recall', 'fscore']]

    row = df_result.iloc[-1]
    
    average.append(row[1:])
    
    latex += s + " & "
    
    for j in range(1,len(row)):
        item = row[j]
        if isinstance(item, str):
            latex += item
        elif isinstance(item, datetime.date):
            latex += item.strftime("%m-%d")
        else:
            latex += "{:.1f}".format(100*item)
        if j != df_result.shape[1] - 1:
            latex += " & "
    latex += " \\\\"
    latex += "\n"

    
    concat_list.append(df_result)
    print(s)
    display(df_result)

P103

          day  precision    recall    fscore
0  2017-06-27   0.946502  0.920000  0.933063
1  2017-06-28   0.867606  0.587786  0.700796
2  2017-06-29   0.872263  0.543182  0.669468
3  2017-06-30   0.948276  0.791367  0.862745
4  2017-07-01   0.214286  0.138655  0.168367
5  2017-07-02   0.000000  0.000000  0.000000
6         Ave   0.805604  0.578253  0.673253

P105

          day  precision    recall    fscore
0  2017-06-23   0.000000  0.000000  0.000000
1  2017-06-24   0.905000  0.932990  0.918782
2  2017-06-26   0.831683  0.688525  0.753363
3  2017-07-02   0.987261  0.771144  0.865922
4  2017-07-03   0.936170  0.923077  0.929577
5         Ave   0.896368  0.835657  0.864948

P107

          day  precision    recall    fscore
0  2017-07-12   0.972973  0.264706  0.416185
1  2017-07-17   0.916031  0.434783  0.589681
2  2017-07-18   0.950617  0.509934  0.663793
3         Ave   0.935743  0.413854  0.573892

P108

           day  precision    recall    fscore
0   2017-08-04   0.854839  0.775610  0.813299
1   2017-08-05   0.500000  0.327586  0.395833
2   2017-08-06   0.834197  0.673640  0.745370
3   2017-08-07   0.943925  0.701389  0.804781
4   2017-08-08   0.930769  0.364458  0.523810
5   2017-08-09   0.000000  0.000000  0.000000
6   2017-08-10   0.461538  0.800000  0.585366
7   2017-08-12   0.960000  0.600000  0.738462
8   2017-08-13   0.858824  0.462025  0.600823
9   2017-08-14   1.000000  0.289389  0.448878
10  2017-08-15   0.971182  0.789227  0.870801
11         Ave   0.848508  0.570473  0.682252

P110

          day  precision    recall    fscore
0  2017-08-05   0.861538  0.565657  0.682927
1  2017-08-06   1.000000  1.000000  1.000000
2         Ave   0.923077  0.715232  0.805970

P114

          day  precision    recall    fscore
0  2017-08-09   0.908213  0.783333  0.841163
1  2017-08-10   0.728261  0.279167  0.403614
2  2017-08-11   0.974468  0.950207  0.962185
3  2017-08-14   0.976048  0.876344  0.923513
4         Ave   0.935897  0.763066  0.840691

P116

          day  precision    recall    fscore
0  2017-08-12   0.764706  0.825397  0.793893
1  2017-08-13   0.983871  0.983871  0.983871
2  2017-08-21   0.655844  0.691781  0.673333
3         Ave   0.753521  0.789668  0.771171

P118

          day  precision    recall    fscore
0  2017-08-19   0.990476  0.932735  0.960739
1  2017-08-20   0.000000  0.000000  0.000000
2  2017-08-21   0.911111  0.794574  0.848861
3  2017-08-22   0.000000  0.000000  0.000000
4  2017-08-29   0.973154  0.868263  0.917722
5  2017-08-30   1.000000  0.856322  0.922601
6  2017-08-31   0.000000  0.000000  0.000000
7         Ave   0.891551  0.860097  0.875542

P120

           day  precision    recall    fscore
0   2017-08-24   0.854772  0.847737  0.851240
1   2017-08-25   0.000000  0.000000  0.000000
2   2017-08-26   0.744624  0.968531  0.841945
3   2017-08-27   0.953704  0.927928  0.940639
4   2017-08-28   0.584615  0.919355  0.714734
5   2017-08-29   0.877133  0.859532  0.868243
6   2017-08-30   0.784387  0.913420  0.844000
7   2017-08-31   0.426230  0.764706  0.547368
8   2017-09-01   0.000000  0.000000  0.000000
9   2017-09-02   0.698305  0.932127  0.798450
10  2017-09-03   0.772973  0.690821  0.729592
11  2017-09-04   0.437870  0.813187  0.569231
12  2017-09-05   0.349057  0.783069  0.482871
13         Ave   0.688383  0.874085  0.770198

P121

          day  precision    recall    fscore
0  2017-08-24   0.969828  0.957447  0.963597
1  2017-08-26   0.342222  0.455621  0.390863
2  2017-08-27   0.949749  0.570997  0.713208
3         Ave   0.748476  0.668027  0.705967

In [8]:
df_average = pd.DataFrame(average)
total_ave = df_average.mean().as_matrix()

latexnew = latex + "Ave & "
for i in total_ave:
    latexnew += "{:.1f}".format(100*i)
    latexnew += " & "

print(latexnew)

P103 & 80.6 & 57.8 & 67.3 \\
P105 & 89.6 & 83.6 & 86.5 \\
P107 & 93.6 & 41.4 & 57.4 \\
P108 & 84.9 & 57.0 & 68.2 \\
P110 & 92.3 & 71.5 & 80.6 \\
P114 & 93.6 & 76.3 & 84.1 \\
P116 & 75.4 & 79.0 & 77.1 \\
P118 & 89.2 & 86.0 & 87.6 \\
P120 & 68.8 & 87.4 & 77.0 \\
P121 & 74.8 & 66.8 & 70.6 \\
Ave & 84.3 & 70.7 & 75.6 &

In [61]:
print("\n\nAfter removing bad data (fscore < 0.5)")
print(total.mean())

After removing bad data (fscore < 0.5)
precision    0.827255
recall       0.762076
fscore       0.782966
dtype: float64