In [7]:
import os
import pandas as pd
from beyourself import settings
from IPython.display import display, HTML
import datetime

In [8]:
concat_list = []
subj_list = ['P103','P105','P107','P108','P110','P114','P116','P118','P120','P121']
latex = ""

average = []

for s in subj_list:
    path = '../data/wild/{}/personalized/{}.csv'.format(s,s)
    df_result = pd.read_csv(path)
    df_result = df_result[['day', 'precision', 'recall', 'fscore']]

    row = df_result.iloc[-1]
    
    average.append(row[1:])
    
    latex += s + " & "
    
    for j in range(1,len(row)):
        item = row[j]
        if isinstance(item, str):
            latex += item
        elif isinstance(item, datetime.date):
            latex += item.strftime("%m-%d")
        else:
            latex += "{:.1f}".format(100*item)
        if j != df_result.shape[1] - 1:
            latex += " & "
    latex += " \\\\"
    latex += "\n"

    
    concat_list.append(df_result)
    print(s)
    display(df_result)

P103

          day  precision    recall    fscore
0  2017-06-27   1.000000  0.276000  0.432602
1  2017-06-28   0.902613  0.725191  0.804233
2  2017-06-29   0.952489  0.956818  0.954649
3  2017-06-30   0.000000  0.000000  0.000000
4  2017-07-01   0.627027  0.974790  0.763158
5  2017-07-02   0.000000  0.000000  0.000000
6         Ave   0.846390  0.692646  0.761839

P105

          day  precision    recall    fscore
0  2017-06-23   0.000000  0.000000  0.000000
1  2017-06-24   0.928177  0.865979  0.896000
2  2017-06-26   0.572816  0.483607  0.524444
3  2017-07-02   0.977143  0.850746  0.909574
4  2017-07-03   0.915584  0.986014  0.949495
5         Ave   0.888309  0.847610  0.867482

P107

          day  precision    recall    fscore
0  2017-07-12   0.000000  0.000000  0.000000
1  2017-07-17   0.812057  0.829710  0.820789
2  2017-07-18   0.950704  0.894040  0.921502
3         Ave   0.858491  0.646536  0.737589

P108

           day  precision    recall    fscore
0   2017-08-04   0.805907  0.931707  0.864253
1   2017-08-05   0.591837  0.500000  0.542056
2   2017-08-06   0.895028  0.677824  0.771429
3   2017-08-07   0.838509  0.937500  0.885246
4   2017-08-08   0.927481  0.731928  0.818182
5   2017-08-09   0.000000  0.000000  0.000000
6   2017-08-10   0.000000  0.000000  0.000000
7   2017-08-12   0.000000  0.000000  0.000000
8   2017-08-13   0.890173  0.974684  0.930514
9   2017-08-14   1.000000  0.260450  0.413265
10  2017-08-15   0.947867  0.468384  0.626959
11         Ave   0.816257  0.614712  0.701291

P110

          day  precision    recall    fscore
0  2017-08-05   0.798387  1.000000  0.887892
1  2017-08-06   0.000000  0.000000  0.000000
2         Ave   0.798387  0.655629  0.720000

P114

          day  precision    recall    fscore
0  2017-08-09   0.836957  0.962500  0.895349
1  2017-08-10   0.858268  0.454167  0.594005
2  2017-08-11   0.957661  0.985477  0.971370
3  2017-08-14   0.937500  0.725806  0.818182
4         Ave   0.910834  0.827526  0.867184

P116

          day  precision    recall    fscore
0  2017-08-12   0.851852  0.365079  0.511111
1  2017-08-13   0.966667  0.935484  0.950820
2  2017-08-21   0.694268  0.746575  0.719472
3         Ave   0.778689  0.701107  0.737864

P118

          day  precision    recall    fscore
0  2017-08-19   0.981818  0.968610  0.975169
1  2017-08-20   0.000000  0.000000  0.000000
2  2017-08-21   0.850000  0.329457  0.474860
3  2017-08-22   0.000000  0.000000  0.000000
4  2017-08-29   0.938596  0.640719  0.761566
5  2017-08-30   0.992593  0.770115  0.867314
6  2017-08-31   0.000000  0.000000  0.000000
7         Ave   0.819970  0.659367  0.730951

P120

           day  precision    recall    fscore
0   2017-08-24   0.978495  0.561728  0.713725
1   2017-08-25   0.000000  0.000000  0.000000
2   2017-08-26   0.936027  0.972028  0.953688
3   2017-08-27   0.984848  0.780781  0.871022
4   2017-08-28   0.746753  0.927419  0.827338
5   2017-08-29   0.981735  0.719064  0.830116
6   2017-08-30   0.887828  0.805195  0.844495
7   2017-08-31   0.800000  0.470588  0.592593
8   2017-09-01   0.000000  0.000000  0.000000
9   2017-09-02   0.791667  0.687783  0.736077
10  2017-09-03   0.894737  0.574879  0.700000
11  2017-09-04   0.437500  0.538462  0.482759
12  2017-09-05   0.494024  0.656085  0.563636
13         Ave   0.838861  0.722182  0.776161

P121

          day  precision    recall    fscore
0  2017-08-24   1.000000  0.174468  0.297101
1  2017-08-26   0.546053  0.982249  0.701903
2  2017-08-27   0.963415  0.716012  0.821490
3         Ave   0.751269  0.604082  0.669683

In [9]:
df_average = pd.DataFrame(average)
total_ave = df_average.mean().as_matrix()

latexnew = latex + "Ave & "
for i in total_ave:
    latexnew += "{:.1f}".format(100*i)
    latexnew += " & "

print(latexnew)

P103 & 84.6 & 69.3 & 76.2 \\
P105 & 88.8 & 84.8 & 86.7 \\
P107 & 85.8 & 64.7 & 73.8 \\
P108 & 81.6 & 61.5 & 70.1 \\
P110 & 79.8 & 65.6 & 72.0 \\
P114 & 91.1 & 82.8 & 86.7 \\
P116 & 77.9 & 70.1 & 73.8 \\
P118 & 82.0 & 65.9 & 73.1 \\
P120 & 83.9 & 72.2 & 77.6 \\
P121 & 75.1 & 60.4 & 67.0 \\
Ave & 83.1 & 69.7 & 75.7 &

In [4]:
# print("\n\nAfter removing bad data (fscore < 0.5)")
# print(total.mean())